/* ===== BALISES DE DIALOGUES ============================================ */

/* --- 1.1 VARIABLES ------------------------------ */
/* --- @doc https://developer.mozilla.org/... ----- */

:root {

	/* ··· THEME CLAIR ··· */
	&[data-color-scheme="light"] {
		color-scheme: light;
		--anto : #009999; 
		--blaiz : #4b7d7d;
		--bo : #c25b24;
		--ceci : #cc0099;
		--elio : #d8ac6b;
		--gasp : #5193A8;
		--ima : #cc6633;
		--kus : #ac374d;
		--milo : #4b76a3;
		--noor : #61965D;
		--nora : #a3758e;
		--rav : #3399cc;
		--sas : #9999ff;
		--sigrid : #929e3d;
		--sim : #ad3225;
		--soko : #40A497;		
	}

	/* ··· THEME SOMBRE ··· */
	&[data-color-scheme="dark"] {
		color-scheme: dark;
		--anto : #009999; 
		--blaiz : #4b7d7d;
		--bo : #c25b24;
		--ceci : #cc0099;
		--elio : #d8ac6b;
		--gasp : #5193A8;
		--ima : #cc6633;
		--kus : #ac374d;
		--milo : #5c9baa;
		--noor : #61965D;
		--nora : #56739A;
		--rav : #3399cc; 
		--sas : #9999ff;
		--sigrid : #929e3d;
		--sim : #ad3225;
		--soko : #40A497;
	}
}

/* --- 1.2 BALISES ------------------------------ */
anto { color: var(--anto); }
blaiz { color: var(--blaiz); }
bo { color: var(--bo); }
ceci { color: var(--ceci); }
elio { color: var(--elio); }
gasp { color: var(--gasp); }
ima { color: var(--ima); }
kus { color: var(--kus); }
milo { color: var(--milo); }
noor { color: var(--noor); }
nora { color: var(--nora); }
rav { color: var(--rav); }
sas { color: var(--sas); }
sigrid { color: var(--sigrid); }
sim { color: var(--sim); }
soko { color: var(--soko); }


