/* ===== BALISES DE DIALOGUES ============================================ */

/* --- 1.1 VARIABLES ------------------------------ */
/* --- @doc https://developer.mozilla.org/... ----- */

:root {

	/* ··· THEME CLAIR ··· */
	&[data-color-scheme="light"] {
		color-scheme: light;
		--anto : #009999; 
		--blaiz : #4b7d7d;
		--bo : #c25b24;
		--ceci : #cc0099;
		--eff : #df663b;
		--elio : #d8ac6b;
		--gasp : #5193A8;
		--gid : #0099ff;
		--ima : #cc6633;
		--jim : #707ece;
		--kus : #ac374d;
		--max : #984954;
		--milo : #4b76a3;
		--noor : #61965D;
		--nora : #a3758e;
		--rae : #006666;
		--rav : #3399cc;
		--sas : #9999ff;
		--sigrid : #929e3d;
		--sim : #ad3225;
		--soko : #40A497;	
		--syn : #cc6600;
		--vk : #c32954;
	}

	/* ··· THEME SOMBRE ··· */
	&[data-color-scheme="dark"] {
		color-scheme: dark;
		--anto : #009999; 
		--blaiz : #4b7d7d;
		--bo : #c25b24;
		--ceci : #cc0099;
		--eff : #df663b;
		--elio : #d8ac6b;
		--gasp : #5193A8;
		--gid : #0099ff;
		--ima : #cc6633;
		--jim : #707ece;
		--kus : #ac374d;
		--max : #984954;
		--milo : #5c9baa;
		--noor : #61965D;
		--nora : #56739A;
		--rae : #006666;
		--rav : #3399cc; 
		--sas : #9999ff;
		--sigrid : #929e3d;
		--sim : #ad3225;
		--soko : #40A497;
		--syn : #cc6600;
		--vk : #c32954;
	}
}

/* --- 1.2 BALISES ------------------------------ */
anto { color: var(--anto); }
blaiz { color: var(--blaiz); }
bo { color: var(--bo); }
ceci { color: var(--ceci); }
eff { color: var(--eff); }
elio { color: var(--elio); }
gasp { color: var(--gasp); }
gid { color: var(--gid); }
ima { color: var(--ima); }
jim { color: var(--jim); }
kus { color: var(--kus); }
max { color: var(--max); }
milo { color: var(--milo); }
noor { color: var(--noor); }
nora { color: var(--nora); }
rae { color: var(--rae); }
rav { color: var(--rav); }
sas { color: var(--sas); }
sigrid { color: var(--sigrid); }
sim { color: var(--sim); }
soko { color: var(--soko); }
syn { color: var(--syn); }
vk { color: var(--vk); }

